<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.davidvaness.image-autonamer</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PROJECT_DIR__/bin/image-autonamer</string>
    <string>--settle-seconds</string>
    <string>15</string>
    <string>--model</string>
    <string>__MODEL__</string>
    <string>__DOWNLOADS_DIR__</string>
  </array>
  <key>WatchPaths</key>
  <array>
    <string>__DOWNLOADS_DIR__</string>
  </array>
  <key>StartInterval</key>
  <integer>60</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
  </dict>
  <key>StandardOutPath</key>
  <string>__HOME__/Library/Logs/image-autonamer/stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__HOME__/Library/Logs/image-autonamer/stderr.log</string>
</dict>
</plist>
